hr {
    color: #fff;
}



.detail-section {
    margin-top: 60px
}


.description {
    font-family:sans-serif;
    font-size:20px;
    color: aliceblue;
}

.not-member {
    font-size: 24px;
    margin-bottom: 80px;
}

.message {
    font-size: 20px;
    color:rgb(226, 230, 245);
    word-break: break-all;
}

.mDate {
    font-size: 16px;
    color:rgb(207, 212, 232)
}

span {
    color: rgb(179, 221, 240);
}

.messageDiv {
    padding: 10px;
    border: 2px solid #0077b6; 
    padding: 10px; 
    margin: 10px 0; 
}

.label-name {
    color: #a9bff1;
    padding-left: 1px;
    border-radius: 4px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.return-btn {
    position: fixed;
    bottom: 30px; 
    right: 20px;
    background-color: rgba(110, 121, 133, 0.7);
    color: #fff;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    font-family:sans-serif;
  }

.return-btn:hover {
    background-color: rgba(158, 176, 197, 0.7);
}

.submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #5151a7; 
    color: #fff; 
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
}

.submit-btn:hover {
    background-color: #7676cf; /* 鼠标悬停时略微改变颜色 */
}

.submit-btn:active {
    background-color: #363672; /* 按下按钮时改变颜色 */
}