<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/backgrounds/logo5_new.jpg" alt="" width="70" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon  navbar-dark"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="nav navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item" >
          <a class="nav-link active"   routerLink="/yokais">Yokais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"   routerLink="/missions">Missions</a>
        </li>
        <li class="nav-item login">
          <app-login-status></app-login-status>
        </li>
      </ul>
      <form class="d-flex  bd-highlight">
        <input #myInput type="text" 
             class="search-bar"
             name="search" 
             id="search" 
             placeholder="輸入妖怪名稱"
             (input)="searchDebounced(myInput.value)"
             (keyup.enter)="doSearch(myInput.value)"   />
             <button (click)="doSearch(myInput.value)" class="btn btn-outline-success">
              <i class="fas fa-search"></i>
            </button>
      </form>
    </div>
  </div>
</nav>


<!--
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/backgrounds/logo5_new.jpg" alt="" width="70" height="70">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item" >
          <a class="nav-link active"   routerLink="/yokais">Yokais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"   routerLink="/missions">Missions</a>
        </li>
        <li class="nav-item login">
          <a class="nav-link active"  style="color: aliceblue;" routerLink="/login">Login</a>
        </li>
      </ul>
      <form class="d-flex  bd-highlight ">
        <input #myInput type="text" 
             class="search-bar"
             name="search" 
             id="search" 
             placeholder="輸入名稱"
             (keyup.enter)="doSearch(myInput.value)"   />
             <button (click)="doSearch(myInput.value)" class="btn btn-outline-success">
              <i class="fas fa-search"></i>
            </button>
      </form>
    </div>
  </div>
</nav>
-->

<!--
<div class="wrap">
    <div class="search">
      <input #myInput type="text" 
             class="search-bar"
             name="search" 
             id="search" 
             placeholder="輸入名稱"
             (keyup.enter)="doSearch(myInput.value)"   />

      <button (click)="doSearch(myInput.value)" class="search-btn">
        <i class="fas fa-search"></i>
      </button>

    </div>
</div>
-->
